.header {
    background-color: #ddd;
    height: 8vh;
    padding: 0 20px;
}
.header-inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.header-title-link {
    color: black;
    font-size: 5vh;
}
.header-login-link,
.header-logout-link {
    color: #777;
    font-size: 3vh;
    padding: 20px;
}
.header-account {
    display: flex;
}
#dropdown-icon {
    transition: all 500ms 0s ease;
}
.active {
    transform: rotate(180deg);
}
.unactive {
    transform: rotate(-180deg);
}
#account-tab-opener {
    background-color: rgba(0, 0, 0, 0 );
    border: none;
    display: flex;
}
.account-tab {
    width: 300px;
    height: 270px;
    background-color: #f0f0f0;
    position: absolute;
    top: calc(8vh - 270px);
    right: 10%;
    z-index: -1;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.fadein {
    transition: all 500ms 150ms ease;
}
.scrollin {
    transform: translateY(270px);
}
.scrollout {
    transform: translateY(0px);
}